/*
* @Author: beyondouyuan
* @Date:   2018-04-18 20:05:46
* @Last Modified by:   beyondouyuan
* @Last Modified time: 2018-05-11 17:04:27
*/

@import "reset.scss";
@import "variable.scss";
@import '~antd/dist/antd.css'; // 全局引入antd样式
/* 禁止选中文本 */
.user-select-none {
    @include user-select;
}
/* 不换行 */
.white-space-nowrap {
    white-space: nowrap;
}
/* 居中对齐 */
.text-align-center {
    text-align: center;
}
/* 向左对齐 */
.text-align-left {
    text-align: left;
}
/* 向右对齐 */
.text-align-right {
    text-align: right;
}
/* 没有边框 */
.border-none {
    border: none;
}
/* 阻止事件 */
.pointer-events-none {
    pointer-events: none;
}
.overflow-hidden {
    overflow: hidden;
}
.router-container {
    @include display(flex)
    flex-direction: column;

    & > section {
        min-height: 100vh;
        @include prefix(flex, 1)
    }
}

.go-top {
    position: fixed;
    z-index: 500;
    bottom: 100px;
    right: 30px;
    padding: 5px 10px;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFFFFF;

    &:hover {
        background-color: #F6F6F6;
    }
    p {
        color: #666666
    }
}


.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
  }
  
  .hljs-quote {
    color: #998;
    font-style: italic;
  }
  
  .hljs-comment {
    color: #800;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: #333;
    font-weight: bold;
  }
  
  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: #008080;
  }
  
  .hljs-string,
  .hljs-doctag {
    color: #d14;
  }
  
  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: #900;
    font-weight: bold;
  }
  
  .hljs-subst {
    font-weight: normal;
  }
  
  .hljs-type,
  .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
  }
  
  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: #000080;
    font-weight: normal;
  }
  
  .hljs-regexp,
  .hljs-link {
    color: #009926;
  }
  
  .hljs-symbol,
  .hljs-bullet {
    color: #990073;
  }
  
  .hljs-built_in,
  .hljs-builtin-name {
    color: #0086b3;
  }
  
  .hljs-meta {
    color: #999;
    font-weight: bold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }